@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }
  .card-hover:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 20px rgba(15, 23, 42, 0.1);
  }
  #mobile-nav {
    transform: translateX(100%);
  }
  #mobile-nav.open {
    transform: translateX(0);
  }
}
